.action {
    text-align: center;
    background-image: url('../img/spec.jpg');
    background-size: cover;
    background-position: top center;

    .content {
        @include col();
        @include col-12();
    }

    &-date {
        font-size: 28px;
        display: block;
    }

    &-descr {
        font-size: 32px;
        display: block;
    }
}