
/* ---------------------------------------------- /*
 * Стили секции works
/* ---------------------------------------------- */

.works {
    display: block;
    text-align: center;
    background-color: #000;
    color: #fff;
}

.works-container {
    max-width: 650px;
    margin: 0 auto;
}

.portfolio-slider {
    display: block;
    margin: 25px 0;
    // border: 5px dashed #00a6d6;
    // background-color: #9144cb;
    // padding: 3px;
}

.portfolio-slide-item {
    position: relative;
    // border: 5px dashed #ffffff;
    // background-color: #9144cb;
    // padding: 3px;
}

.slide-img {
    position: relative;
}

.portfolio-slide-title {
    padding: 15px;
    color: #000;
    line-height: 1.25;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
    background-color: $btn-bg;
    border-radius: 10px;

    @media screen and (max-width: $break_sm) {
        width: 80%;
    }

    @media screen and (max-width: $break_xs) {
        width: 100%;
        border-radius: 0;
        bottom: 0;
        left: 0;
        transform: none;
        position: relative;
    }
}

.portfolio-slide-item a {
    text-decoration: none;
}

.portfolio-slider .btn-play {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .8;
    transition: .5s;
    background-color: rgba(72, 72, 72, 0.5);

    &:hover {
        opacity: 1;
        background-color: rgba(72, 72, 72, 0.6);
    }
}



.portfolio-slider .btn-play img {
    position: absolute;
    width: 88px;
    height: 88px;
    top: 50%;
    left: 50%;
    margin-top: -44px;
    margin-left: -44px;

}

.slick-slide img {
    width: 100%;
}

.header-slider img {
    width: 100%;
}

