section.action
	.wrapper
		.row
			.content
				h2.section-header
					span Специальное
					|  предложение
				span.action-date С 20.05.2017 до 07.06.2017
				span.action-descr уборка квартиры
					strike 1500руб.
					|  990 руб.
				a.btn.popup_content(href="#top-hidden") Оставить заявку