h1 Адаптивная таблица


.scroll-wrapper
	.scroll-inner
.adaptive-table-wrapper
	table
		thead
			tr
				th Услуга
				th Описание
				th Цена
				th Скидка
				th Скидка
				th Скидка
		tbody
			tr
				td Мобильная верстка
				td Верстка под телефоны
				td $3000
				td 50%
				td 50%
				td 50%
			tr
				td Посадка на CMS WordPress
				td Создание сайта с админ. панелью
				td $3000
				td 30%
				td 30%
				td 30%
			tr
				td Мобильная верстка
				td Верстка под телефоны
				td $3000
				td 50%
				td 50%
				td 50%
			tr
				td Посадка на CMS WordPress
				td Создание сайта с админ. панелью
				td $3000
				td 30%
				td 30%
				td 30%
