.breadcrumbs(itemscope='', itemtype='http://data-vocabulary.org/Breadcrumb')
  | Вы здесь:
  a(href='#', itemprop='url')
    span(itemprop='title') Главная
  | 	 → 
  a(href='#', itemprop='url')
    span(itemprop='title') Раздел
  | 	 → 
  a(href='#', itemprop='url')
    span(itemprop='title') Подраздел
  | 	 → 
  span(itemprop='title') Название страницы
