h2 Наши акции
.actions-box
	div.actions-item
		a(href="#")
			img(src="./../../img/slider/sl-01.jpg", alt="").actions-img
			.actions-title Четвертая акция
			span.actions-date Действует до 11.01.2018
	div.actions-item
		a(href="#")
			img(src="./../../img/slider/sl-02.jpg", alt="").actions-img
			.actions-title Третья акция
			span.actions-date Действует до 11.01.2018
	div.actions-item
		a(href="#")
			img(src="./../../img/slider/sl-03.jpg", alt="").actions-img
			.actions-title Вторая акция
			span.actions-date Действует до 11.01.2018
	div.actions-item
		a(href="#")
			img(src="./../../img/slider/sl-04.jpg", alt="").actions-img
			.actions-title Первая акция
			span.actions-date Действует до 11.01.2018
include ../includes/pagination
