

//- h1 Услуги

.services-container

    a(href="#").services-item
        img(src="img/services/01.jpg", alt="")
        .services-title Арбитраж

    a(href="#").services-item
        img(src="img/services/02.jpg", alt="")
        .services-title Аудит

    a(href="#").services-item
        img(src="img/services/03.jpg", alt="")
        .services-title Консультации

    a(href="#").services-item
        img(src="img/services/04.jpg", alt="")
        .services-title Регистрация фирм

    a(href="#").services-item
        img(src="img/services/05.jpg", alt="")
        .services-title Судебные споры

    a(href="#").services-item
        img(src="img/services/06.jpg", alt="")
        .services-title Другие услуги

//- include ../includes/pagination
