footer
	//- a(href="#top" title="Наверх").arrow-top
	p Название компании - все права защищены © 2056
	p
		img(src="img/statistic.jpg", alt="")
	p.razr Создание сайта -&#32;
		a(href="#", title="title") Сайт-визитка