section#services.services
    .wrapper
        h2.section-header Наши услуги
        .services-box

            .services-item
                .services-img
                    img(src="img/usl-01.jpg", alt="")
                h3.services-title Забор из профнастила
                .services-descr
                    p
                        strong Состав материалов и работ
                    p Металлический штакетник с односторонним полимерным покрытием, заполнение с одной стороны, зазор 50 мм, длина 1,5 м.
                    p
                        strong Столбы
                        | 60х30 мм. длина 3,0 м.
                    p
                        strong Поперечины
                        | 40х20 мм. длина 3 м.
                    p
                        strong Дополнительно:
                        | Саморезы в цвет штакетника; Дополнительная фурнитура
                    p
                        strong Установка:
                        | Установка столбов; Сборка каркаса забора; Установка и подгонка штакетника
                    p.services-price
                        strong Цена под ключ:
                        | 1 430 руб. / пог.м.
                .text-center
                    a.btn.services-btn.popup_content(href="#zayavka") Оставить заявку


            .services-item
                .services-img
                    img(src="img/usl-02.jpg", alt="")
                h3.services-title Забор из металлического штакетника
                .services-descr
                    p
                        strong Состав материалов и работ
                    p Металлический штакетник с односторонним полимерным покрытием, заполнение с одной стороны, зазор 50 мм, длина 1,5 м.
                    p
                        strong Столбы
                        | 60х30 мм. длина 3,0 м.
                    p
                        strong Поперечины
                        | 40х20 мм. длина 3 м.
                    p
                        strong Дополнительно:
                        | Саморезы в цвет штакетника; Дополнительная фурнитура
                    p
                        strong Установка:
                        | Установка столбов; Сборка каркаса забора; Установка и подгонка штакетника
                    p.services-price
                        strong Цена под ключ:
                        | 1 430 руб. / пог.м.
                .text-center
                    a.btn.services-btn.popup_content(href="#zayavka") Оставить заявку


            .services-item
                .services-img
                    img(src="img/usl-04.jpg", alt="")
                h3.services-title Кованный забор
                .services-descr
                    p
                        strong Состав материалов и работ
                    p Металлический штакетник с односторонним полимерным покрытием, заполнение с одной стороны, зазор 50 мм, длина 1,5 м.
                    p
                        strong Столбы
                        | 60х30 мм. длина 3,0 м.
                    p
                        strong Поперечины
                        | 40х20 мм. длина 3 м.
                    p
                        strong Дополнительно:
                        | Саморезы в цвет штакетника; Дополнительная фурнитура
                    p
                        strong Установка:
                        | Установка столбов; Сборка каркаса забора; Установка и подгонка штакетника
                    p.services-price
                        strong Цена под ключ:
                        | 1 430 руб. / пог.м.
                .text-center
                    a.btn.services-btn.popup_content(href="#zayavka") Оставить заявку


            .services-item
                .services-img
                    img(src="img/usl-04.jpg", alt="")
                h3.services-title Забор из поликарбоната
                .services-descr
                    p
                        strong Состав материалов и работ
                    p Металлический штакетник с односторонним полимерным покрытием, заполнение с одной стороны, зазор 50 мм, длина 1,5 м.
                    p
                        strong Столбы
                        | 60х30 мм. длина 3,0 м.
                    p
                        strong Поперечины
                        | 40х20 мм. длина 3 м.
                    p
                        strong Дополнительно:
                        | Саморезы в цвет штакетника; Дополнительная фурнитура
                    p
                        strong Установка:
                        | Установка столбов; Сборка каркаса забора; Установка и подгонка штакетника
                    p.services-price
                        strong Цена под ключ:
                        | 1 430 руб. / пог.м.
                .text-center
                    a.btn.services-btn.popup_content(href="#zayavka") Оставить заявку

