section#portfolio.portfolio.text-center
    .container
        h2 Портфолио
        //- p
            | Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Всеми, пунктуация, текст за, что, залетают инициал предложения по всей оксмокс переписали коварный букв на берегу это.
    include ../includes/slider-portfolio-photo
        //- a.btn(target='_blank', href='#') Больше фото
    .text-center
        a.btn.services-btn.popup_content(href="#zayavka") Смотреть еще 147 работ