section#action.action
	.wrapper

		h2.section-header Специальное предложение
		img.action-img(src="img/action.jpg", alt="")
		span.action-date С 20.05.2017 до 07.06.2017
		p.action-descr При заказе забора въездная группа (ворота + калитка) из профнастила
			span.price
				strike 25 000руб.
				|  18 100 руб.
		a.btn.popup_content(href="#zayavka") Оставить заявку