section.advantages
	.wrapper
		.advantages-container

			.advantages-item
				.advantages-img
					img(src="img/advantages-01.png", alt="")
				.advantages-number 35500
				.advantages-descr Клиентов

			.advantages-item
				.advantages-img
					img(src="img/advantages-02.png", alt="")
				.advantages-number 25
				.advantages-descr Годы опыта

			.advantages-item
				.advantages-img
					img(src="img/advantages-03.png", alt="")
				.advantages-number 98
				.advantages-descr Успешных дел

			.advantages-item
				.advantages-img
					img(src="img/advantages-04.png", alt="")
				.advantages-number 14
				.advantages-descr Офисов
