section.hero
    .wrapper
        .hero-box
            h1.hero-title Юридические услуги
            p.hero-descr Наша компания предлагает полный спектр услуг, как для физических так и для юридических лиц.
            a.btn.popup_content(href="#zayavka2") Оставить заявку


    //- .container

    //- img(src="img/bg01.jpg", alt="")
    //- include ../includes/slider-bigslider

    //- border: 1px solid #d9be98;
