section.about
    .wrapper.about-box
        .about-img
        //-img.about-img(src="./../../img/about-img.jpg", alt="")
        .about-text
            h2 О нас
            p Обращение в нашу компанию гарантирует вам не только высокое качество оказываемых услуг, но и комплексное решение поставленных задач, индивидуальный подход, своевременное исполнение принятых нами обязательств, привлекательность цен. Обращение в нашу компанию гарантирует вам не только высокое качество оказываемых услуг, но и комплексное решение поставленных задач, индивидуальный подход, своевременное исполнение принятых нами обязательств, привлекательность цен.
            <a class="btn" href="#">Подробнее</a>
