.bigslider

	.bigslider-item
		.bigslider-img
			img(src="img/slider/sl-01.jpg", alt="")
		.bigslider-box
			.bigslider-title Юридические услуги
			.bigslider-descr Наша компания предлагает полный спектр услуг, как для физических так и для юридических лиц.
			a.btn(href="#") Подробнее

	.bigslider-item
		.bigslider-img
			img(src="img/slider/sl-02.jpg", alt="")
		.bigslider-box
			.bigslider-title Защита по уголовным делам
			.bigslider-descr Наша компания предлагает полный спектр услуг, как для физических так и для юридических лиц.
			a.btn(href="#") Подробнее

	.bigslider-item
		.bigslider-img
			img(src="img/slider/sl-03.jpg", alt="")
		.bigslider-box
			.bigslider-title Обслуживание юр.лиц
			.bigslider-descr Наша компания предлагает полный спектр услуг, как для физических так и для юридических лиц.
			a.btn(href="#") Подробнее
